:root {

  --color-text-light: #EAEAEA;
  --color-text-medium: #7D7F81;
  --color-text-dark: #2C2C2C;

  --color-bg-light: #EAEAEA;
  --color-bg-dark: #2E2B2C;
  --color-bg-darker: #2D2D2D;
}

.text-light {
  color: var(--color-text-light);
}

.text-medium {
  color: var(--color-text-medium);
}

.text-dark {
  color: var(--color-text-dark);
}

.bg-light {
  background-color: var(--color-bg-light);
}

.bg-dark {
  background-color: var(--color-bg-dark);
}

.bg-darker {
  background-color: var(--color-bg-darker);
}
