@import "./reset.css";
@import "./app/assets/styles/global-fonts.css";
@import "./app/assets/styles/global-colors.css";

body{
background-color: var(--color-bg-dark);
}

*{
  /*background-color: #FEFEFE;*/
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  color: #2C2C2C;
  margin: 0 auto;
}
