nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 0 2rem 0;
}

h1{
  font-weight: 400;
  letter-spacing: -0.08rem;
}

ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

li{
  color: var(--color-text-light);
  padding: 0 0.5rem;
  font-size: var(--font-small);
}
