<div>
  <span class="spanClass postDate font-very-small text-medium">17 de Março, 2025 </span>
  <h1 class="antonio-font font-regular text-dark">Movimento Brutalista</h1>
  <p class="inter-font font-small text-dark">
    O movimento brutalista foi um estilo arquitetônico que surgiu na década de 1950 e se estendeu até meados dos anos 1970. O termo "brutalismo" deriva da expressão francesa "béton brut", que significa "concreto cru", um material que se tornou a marca registrada desse estilo.
  </p>
</div>
