section{
background-color: var(--color-bg-light);
}
div{
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 0.5rem;
  max-width: 80%;
}

.appButton {
  align-self:flex-end;
  margin: 0.3rem auto;
}
