<section>
  <div>
    <app-small-card
    imageUrl="https://images.adsttc.com/media/images/5e45/886d/3312/fd99/8800/00df/slideshow/Via_Relae_Design.jpg?1581615209"
    title="Clube Atletico Paulistano"
    content=" O Clube Atlético Paulistano é um dos exemplos mais icônicos da arquitetura brutalista no Brasil. Projetado pelo renomado arquiteto Ruy Ohtake, o edifício se destaca por suas formas esculturais e uso expressivo do concreto armado.">
    </app-small-card>
    <app-small-card
      imageUrl="https://images.adsttc.com/media/images/5e45/87f5/3312/fd99/8800/00db/slideshow/Ana_Negreiros-7.jpg.jpg?1581615088"
      title="TJ Piauí"
      content="O edifício do Tribunal de Justiça do Piauí é um marco da arquitetura brutalista no Nordeste do Brasil. Projetado por Hélio Ferreira Pinto, o prédio se caracteriza por sua massa imponente e pelo uso predominante de concreto aparente.">
    </app-small-card>
    <app-small-card
      imageUrl="https://images.adsttc.com/media/images/5e45/8816/3312/fd99/8800/00dd/slideshow/Centro_de_Documenta%C3%A7%C3%A3o_e_Pesquisa_do_MAM_7.jpg?1581615120"
      title="MAM Rio de Janeiro"
      content="O Museu de Arte Moderna do Rio de Janeiro (MAM Rio) é uma das obras mais importantes da arquitetura moderna e brutalista no Brasil. Projetado por Affonso Eduardo Reidy, o edifício é conhecido por sua estrutura em concreto armado e grandes vãos livres, que criam espaços amplos e flexíveis para exposições. ">
    </app-small-card>
    <app-button
        class="appButton"
        [buttonUrl]="'https://www.youtube.com/watch?v=1iGPQpqHf5c&ab_channel=RafaelHoffmann'"
        [content]="'>'"></app-button>

  </div>
</section>
